artifacts/
dist/
out/
node_modules/
.mypy_cache/
accounts/
codex_tokens/
__pycache__/
build/package/
build/pyinstaller/linux/
build/pyinstaller/mac/
build/pyinstaller/win/
build/version-info/
build/pyinstaller_full/
*.log
.DS_Store
ak.txt
rk.txt
Register_Only.exe
Register_Full.exe
Register_Only_Setup.exe
Register_Full_Setup.exe
*.pyc
